.card-a{
  .card-body{
    background-color: black;
    color: yellow;
    text-align: center;
  }
  .card-header{
    background-color: yellow;
    color: black;
    text-align: center;
  }
  .card-footer{
    background-color: yellow;
    color: black;
    text-align: center;
  }
}
.card-c{
  .card-body{
    background-color: black;
    color: yellow;
    text-align: center;
  }
  .card-header{
    background-color: yellow;
    color: black;
    text-align: center;
  }
  .card-footer{
    background-color: yellow;
    color: black;
    text-align: center;
  }
}
.card-b{
  .card-body{
    background-color: yellow;
    color: black;
    text-align: center;
  }
  .card-footer{
    background-color: black;
    color: yellow;
    text-align: center;
  }
  .card-header{
    background-color: black;
    color: yellow;
    text-align: center;
  }
}
.card-d{
  .card-body{
    background-color: yellow;
    color: black;
    text-align: center;
  }
  .card-footer{
    background-color: black;
    color: yellow;
    text-align: center;
  }
  .card-header{
    background-color: black;
    color: yellow;
    text-align: center;
  }
}
.card-f{
  .card-body{
    background-color: black;
    color: yellow;
    text-align: center;
  }
  .card-header{
    background-color: yellow;
    color: black;
    text-align: center;
  }
  .card-footer{
    background-color: yellow;
    color: black;
    text-align: center;
  }
}
.card-s{
  .card-body{
    background-color: black;
    color: yellow;
    text-align: center;
  }
  .card-header{
    background-color: yellow;
    color: black;
    text-align: center;
  }
  .card-footer{
    background-color: yellow;
    color: black;
    text-align: center;
  }
}